option_settings:
  aws:elasticbeanstalk:application:environment:
    # Health check endpoint
    HEALTH_CHECK_PATH: "/ready"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckSuccessThreshold: Ok
    HealthCheckURL: "/ready"
